body { 
    font-family: Arial, sans-serif; 
    background-color: #f8f8f8; /* Fondo gris claro */ 
    color: #333; /* txt */ 
    margin: 0; 
    padding: 0; 
} 
header { 
    background-color: transparent; /* Encabezado azul */ 
    padding: 20px; 
    text-align: center; 
    color: white; 
} 
section { 
    max-width: 800px; 
    margin: 20px auto; 
    text-align: center; 
} 

.contact-info { 
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px; 
} 
.contact-info img { 
    max-width: 60px; /* tamaño de lgooos */ 
    height: auto; 
    margin-bottom: 10px; 
} 

header { 
    position: relative; 
    width: 100vw; 
    height: 30; /* Altura del 20% de la ventana */ 
    overflow: hidden; 
    text-align: center; 
} 
.logo { 
    width: 100%; 
} 

.button {
    background-color: #3498db;
    border: none;
    color: rgba(244, 244, 244, 0.986); 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-bottom: 10px; /* Agregamos un pequeño margen al botón */
    outline: none; /* Eliminamos el contorno de enfoque */
}
.button:hover {
    background-color: #2980b9;
}